{% extends 'head.html.twig' %}
 	{% block content %}
 		<form method="post" action="{{path('addCsv')}}">
 			<input type="submit" value="valider">
 		</form>
 		<table class="striped alternate" summary="">
			<caption> Médicaments</caption>
			<thead>
			 	<th>Nom </th>
			 	<th>Prix € </th>
			</thead>
			<tbody>
			{% for medoc in medocs %}
				<tr>
					<td> {{ medoc.name }} </td>
					<td> {{medoc.price }} €</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
 	{% endblock content %}
