<aside class="mod left w20 mrs pam aside">
		<ul id="menu">
			<li class="btn_menu"><a href="{{ path('homepage') }}"> accueil </a></li>
			<li class="btn_menu"><a href="{{ path('addMedocForm') }}"> ajouter </a></li>
			<li class="btn_menu"><a href="{{ path('viewCsv') }}"> importer csv </a></li>
		</ul>
</aside> 