<aside class="mod left w20 mrs pam aside">
	<nav id="navigation" role="navigation">
		<ul class="pam">
			<li class="pam"><a href="{{ path('homepage') }}"> accueil </a></li>
			<li class="pam"><a href="{{ path('addMedocForm') }}"> ajouter </a></li>
			<li class="pam"><a href="{{ path('viewCsv') }}"> importer csv </a></li>
		</ul>
	</nav>
</aside> 